@model WebApplication.Models.Produto

@{
    ViewData["Title"] = "Edit Product";
}
<div class="text-center">
    <h4>Edit</h4>
</div>
<hr />
<div class="mx-auto w-50">
    <div class="mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProdutoId" />
            <div>
                <label asp-for="NomeProduto" class="control-label">Name of Product</label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div hidden>
                <label asp-for="DataEntrada" class="control-label">Entry Date</label>
                <input asp-for="DataEntrada" class="form-control" />
                <span asp-validation-for="DataEntrada" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="DataSaida" class="control-label">Departure Date</label>
                <input asp-for="DataSaida" class="form-control" />
                <span asp-validation-for="DataSaida" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Preco" class="control-label">Price</label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Salvar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
