@model WebApplication.Models.Funcionario

@{
    ViewData["Title"] = "Remove Employee";
}
<div class="text-center">
    <h4>Remove Employee</h4>
</div>

<h3>Are you sure you want to remove this employee?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Full Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>
        <dt class = "col-sm-2">
            Role:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoFuncionario)
        </dd>
        <dt class = "col-sm-2">
            Salary:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioFuncionario)
        </dd>
        <dt class = "col-sm-2">
            Date of Admission:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FuncionarioId" />
        <input type="submit" value="Remover" class="btn btn-outline-danger" /> |
        <a asp-action="Index">Back to list</a>
    </form>
</div>
